# npm packages
node_modules/

# Failed tests screenshots
screenshots/

# Yarn
yarn-error.log
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Test results
test-results/
